.version.index /* version checker */
{
	color: #0000E7;
	background-color: #9D1206;
}

#page
{
	z-index: 1;
	width: 1063px;
	min-height: 409.72597864768693px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 28px 20px 62.27402135231307px 87px;
}

#menuu377
{
	z-index: 2;
	width: 446px;
	margin-left: 617px;
	position: relative;
}

#u385
{
	width: 147px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
}

#u386
{
	width: 147px;
	padding-bottom: 17px;
	position: relative;
}

#u386:hover
{
	width: 147px;
	min-height: 0px;
	margin: 0px;
}

#u386:active
{
	width: 147px;
	min-height: 0px;
	margin: 0px;
}

#u387-4
{
	width: 147px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u386:hover #u387-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 147px;
	margin: 0px -10000px 0px 0px;
}

#u386:active #u387-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 147px;
	margin: 0px -10000px 0px 0px;
}

#u378
{
	width: 147px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 149px;
}

#u379
{
	width: 147px;
	padding-bottom: 17px;
	position: relative;
}

#u386.MuseMenuActive,#u379:hover
{
	width: 147px;
	min-height: 0px;
	margin: 0px;
}

#u379:active
{
	width: 147px;
	min-height: 0px;
	margin: 0px;
}

#u379.MuseMenuActive
{
	width: 147px;
	min-height: 0px;
	margin: 0px;
}

#u380-4
{
	width: 147px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u386.MuseMenuActive #u387-4,#u379:hover #u380-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 147px;
	margin: 0px -10000px 0px 0px;
}

#u379:active #u380-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 147px;
	margin: 0px -10000px 0px 0px;
}

#u379.MuseMenuActive #u380-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 147px;
	margin: 0px -10000px 0px 0px;
}

#u455
{
	width: 148px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 298px;
}

#u456
{
	width: 148px;
	padding-bottom: 17px;
	position: relative;
}

#u456:hover
{
	width: 148px;
	min-height: 0px;
	margin: 0px;
}

#u456:active
{
	width: 148px;
	min-height: 0px;
	margin: 0px;
}

#u456.MuseMenuActive
{
	width: 148px;
	min-height: 0px;
	margin: 0px;
}

#u457-4
{
	width: 148px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u456:hover #u457-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 148px;
	margin: 0px -10000px 0px 0px;
}

#u456:active #u457-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 148px;
	margin: 0px -10000px 0px 0px;
}

#u456.MuseMenuActive #u457-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 148px;
	margin: 0px -10000px 0px 0px;
}

#u118-4
{
	z-index: 27;
	width: 223px;
	min-height: 42px;
	background-color: transparent;
	font-size: 40px;
	color: #8FFF30;
	line-height: 48px;
	margin-left: 344px;
	margin-top: 8px;
	position: relative;
}

#pu94
{
	width: 0.01px;
	margin-top: 13px;
}

#u94
{
	z-index: 21;
	width: 290px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u104
{
	z-index: 23;
	width: 290px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 353px;
}

#u111
{
	z-index: 25;
	width: 290px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 707px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 1170px;
}

